body {
  text-align: center;
  background-color: black
}

h1 {
  font-weight: normal;
  font-family: Verdana;
  font-size: 50px;
  color: white;
}

h4 {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

p {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

h5 {
  text-align: right;
  color: gray;
}
